* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  font-family: MontserratItalic;

  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background-color: #fff;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(163, 163, 163);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(163, 163, 163);
  }
}

@font-face {
  font-family: Montserrat;
  src:
    local("Montserrat"),
    url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: MontserratItalic;
  src:
    local("MontserratItalic"),
    url("./assets/fonts/Montserrat-Italic-VariableFont_wght.ttf");
}
